.postGenCont{
    width: 90vw;
    height: fit-content;
    margin-bottom: 33px;
    display: flex;
    flex-direction: row;
    transition: all ease 0.7s;

    }
.postGenCont:hover{
    box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.328);
}    

.postContent{
    padding: 12px;
    width: 80%;
    transition: all ease 0.7s;
    background-color: rgba(245, 245, 245, 0.905);
}
.postContent:hover{
    padding: 12px;
    width: 80%;
    background-color: rgb(255, 255, 255);
}

.postHead{
    background-color: white;
    padding: 9px;
}

.postUtils{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-right: dashed 1px black;
    border-top: dashed 1px black;
    border-bottom: dashed 1px black;
}

.postName{
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
}
.mainTag{
    font-size: 1.4em;
}
.postCompTags{
    margin: 0px 21px;
    text-align: end;
}
.postBody{
    padding-bottom: 21px;
}
.postDeco{
    margin: 15px 20%;
    width: 60%;
    height: 1px;
    background-color: olive;
    transition: all ease 0.7s;
}
.postDeco2{
    margin: 9px 30%;
    width: 40%;
    height: 1px;
    background-color: rgb(128, 45, 0);
    transition: all ease 0.7s;
}

.postContent:hover > .postDeco {
    margin: 15px 10%;
    width: 80%;
}
.postContent:hover > .postDeco2 {
    margin: 9px 20%;
    width: 60%;
    transition-property: width, margin;
    transition-delay: 0.2s;
}


.postBodyContent{
    white-space: pre-wrap;
    width: 80;
    font-weight: 600;
    word-wrap: break-word;
    text-align: justify;
    letter-spacing: 1px;
}

.hiddenComments{
    display: none;
}

.displayedComments{
    display: inherit;
    margin-top: 21px;
    margin-bottom: 21px;
}

.commentExpander{
    font-size: 1.5em;
}

.commentExpander:hover{cursor: pointer;}

.commentName{
    font-size: 1.2em;
    margin-left: 33px;
    font-weight: 600;
}

.commentContent{
    margin: 2% 6%;
}