  /* nav{
      font-family: 'Poiret One', cursive;
      position: fixed;
      justify-content: center;
      display:flex;
      top: 0px;
      width: 100%;
      letter-spacing: 1px;
      z-index: 2;
      height: 30px;
      background-color: rgb(153, 153, 102);
      box-shadow: 3px 3px 10px rgba(114, 112, 112, 0.986);
    }

    a{
      text-decoration: none;
    }

    a:hover{
      text-decoration: underline;
      cursor: pointer;
    }
    h3{
      font-size: 1em
    } */

    .NaviTwoGenCont{
      position: fixed;
      top: 0px;
      width: 98vw;
      display: flex;
      justify-content: flex-end;
      padding: 6px;
      background-color: white;
    }
    .AuthBtn:hover{
      cursor: pointer;
      border: solid 2px olive;
      color: black;
      background-color: white;
    }

    .AuthBtn{
      color: white;
      margin-right: 22px;
      padding: 6px 0px;
      transition: all ease 1s;
      border: solid 2px rgba(128, 128, 0, 0);
      background-color: olive;
      font-size: 1.1em;
      min-width: 110px;
      text-align: center;
    }

  @media screen and (max-width: 600px){
    .NaviTwoGenCont{
      position: fixed;
      top: 95vh;
      width: 98vw;
      padding: 6px;
    }

  }