.generalForumCont{
    width: 380px;
    box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.328);
    min-height: 200px;
    background-color: white;
    margin: 35px 25px;
}

.profileSecTitle{
    font-size: 2.3em;
    padding: 12px;
    text-align: center;
    font-weight: 600;
}

.thePostsPlaceholder{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: dashed 1px black;
}
.postsPlaceholder{
    text-align: center;
    width: 200px;
    font-weight: 600;
    font-size: 1.2em;
}
.forumLinkIntro{
    text-align: center;
    width: 200px;
    font-weight: 600;
    font-size: 1.2em;
}
.forumLink{
    font-size: 1.5em;
    padding: 9px 21px;
    text-align: center;
    min-width: 120px;
    border: solid 2px black;
    transition: all ease 1s;
    margin: 21px;
}

.forumLink:hover{
    border: solid 2px olive;
    background-color: olivedrab;
    color: white;
}


@media screen and (max-width: 883px){
    .generalForumCont{
        width: 450px;
        box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.328);
        min-height: 200px;
        margin: 35px 25px;
    }
}

@media screen and (max-width: 600px){
    .generalForumCont{
        width: 350px;
        margin: 12px 0%;
        width: 90%;
    }
    .forumTitle{
        font-size: 1.8em;
    }


}