
.IntroCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 21px;
    width: 100%;
    height: 40vh;
}

.IconOne{
    margin: 6px 12px;
    width: 160px;
}

.IntroTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 5em;
    letter-spacing: 4px;
    padding-left: 21px;
    padding-right: 15px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

.IntroSubtitle{
    border-left: solid 1px grey;
    margin-left: 21px;
    padding-left: 21px;
    font-size: 1.8em;
}

@media (prefers-reduced-motion: no-preference) {
    .arrowDeco{
        animation: arrowDecoBounce infinite 1s linear;
        animation-direction: alternate; 
    }
}

@keyframes arrowDecoBounce {
  from {
    transform: translateY(00px);
  }
  to {
    transform: translateY(25px);
  }
}

.forumGenContainer{
    min-height: 70vh;
    width: 100%;
    background-color: rgb(153, 153, 102);
    padding-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postPickerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.postPickers{
    width: 33%;
    padding: 9px 21px;    
    border-left: dotted 2px grey;
    border-right: dotted 2px grey;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}
.postPickers:hover{
    cursor: pointer;
    background-color: rgba(0, 128, 58, 0.433);
    transition: all ease 0.3s;
}

.postPickersActive{
    width: 33%;
    padding: 9px 21px;    
    border-left: dotted 2px grey;
    border-right: dotted 2px grey;
    text-align: center;
    color: white;
    background-color: rgb(19, 50, 55);
    text-transform: uppercase;
    font-size: 1.5em;
}

.themePickerCont{
    border-top: solid 2px black;
    padding-top: 21px;
    padding-bottom: 21px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(126, 128, 123);
}

.pickerText{    
    color: whitesmoke;
    font-size: 1.5em;
    margin-right: 12px;
}

.themePicker{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    width: fit-content;
}

.addPostBtn{
    width: 110px;
    border: solid 2px olive;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 50px;
    right: 15px;   
    transition: all ease 0.5s;
}

.addPostBtn:hover{
    cursor: pointer;
    background-color: olive;
    color: white;

}
.addPostBtn2{
    width: 110px;
    border: solid 2px olive;
    background-color: white;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 15px;   
    transition: all ease 0.5s;
}


@media screen and (max-width: 1800px){
    .IntroCont{
        flex-direction: column;
    }

    .IntroTitle{
        font-size: 2em;
    }

    .IntroSubtitle{
        font-size: 1.4em;
        margin-top: 21px;
        margin-left: 0px;
        text-align: center;
        border-left: none;
    }

}

@media screen and (max-width: 600px){
    .IconOne{
        width: 40vw;
    }

    .postPickers{
        font-size: 1em;
        width: 30%;
        padding: 4px 12px;    

    }
    .postPickersActive{
        padding: 4px 12px;    
        font-size: 1em;
        width: 30%;
    }
    .themePickerCont{
        flex-direction: column;

    }

    .themePicker{
        width: 100%;
        text-align: center;
        font-size: 1.1em;
        word-wrap: normal;
    }
}

