.StepOneGenCont{
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    padding-right: 25px;
    padding-left: 25px;
    box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.328);
}

.cardContent{
    display: flex;
    flex-direction: row;
}

.inputElement{
    border: none;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    width: 200px;
    font-size: 1.1em;
}
.FormGen{
    width: fit-content;
}

.formElement{
    display: flex;
    flex-direction: column;
    margin-top: 21px;
}

.formLabels{
    font-size: 1.3em;
}

.submitBTN{
    width: 210px;
    border: solid 2px olive;
    margin-top: 21px;
    background-color: whitesmoke;
    min-height: 30px;
    font-size: 1.3em;
    transition: all ease 1s;
}

.submitBTN:hover{
    background-color: olive;
    color: white;
}


.generalSignpCont{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoGreen{
    width: 220px;
}

.imageFiller{
    width: 220px;
    transform: translate(65px, 53px) ;
}


.signupIntro{
    text-align: end;
}

.signupIntroText{
    font-size: 1.2em;
    margin-top: 21px;
    text-align: end;
}

.StepTwoGenCont{
    background-color: lightcoral;
}

.additionalUserDetailsGenCont{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 940px){


}
@media screen and (max-width: 600px){

    .StepOneGenCont{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardContent{
        flex-direction: column;
    }
    .imageFiller{
        display: none ;
    }

    .signupIntroText{
        text-align: start;
    }

    .submitBTN{
        margin-top: 35px;
        margin-bottom: 50px;
        font-size: 2em;
    }

}