.profilePageGen{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: rgba(143, 182, 3, 0.631);
    padding-bottom: 35px;
}

.profileGenCont{
    width: 940px;
    background-color: whitesmoke;
}

.profileHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 350px;
    box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.328);
}

.profilePicCont{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.profilePic{
    width: 90%;
    border-radius: 50%;
}
.ProfileHeadTexts{
    display: flex;
    flex-direction: column;
    border-left: dashed 1px black;
    justify-content: space-around;
    width: 50%;
}

.dRAizLogo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.userLogo{
    width: 80px;
}

.userIntro{
    padding: 12px;
    flex-direction: column;
    display: flex;
}
.prfileOptions{
    justify-content: space-around;
    flex-direction: row;
    display: flex;
}

.profTextAlias{
    text-transform: uppercase;
    font-size: 2em;
}

.profTextName{
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}

.profTextUserType{
    font-size: 2em;
    text-align: end;
}

.profLink:hover{
    font-weight: 600;
    cursor: pointer;
}

.userCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden;
}

@media screen and (max-width: 980px){
    .profileGenCont{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .profileHeader{
        width: 99%;
        display: flex;
        flex-direction: column;
        min-height: 350px;
        box-shadow: none;
    }
    .userCards{
        width: 95%;
    }

    .profilePicCont{
        margin-left: 25%;
    }

    .profTextAlias{
        text-transform: uppercase;
        font-size: 1.5em;
    }

    .profTextName{
        font-size: 1.8em;
    }

    .profTextUserType{
        font-size: 1.3em;
        text-align: end;
    }

    .ProfileHeadTexts{
        padding-top: 21px;
        display: flex;
        flex-direction: column;
        border-top: dashed 1px black;
        justify-content: space-around;
        width: 100%;
    }

    .profLink{
        font-size: 0.8em;
    }

    .userIntro{
        padding: 12px 30px;
        flex-direction: column;
        display: flex;
    }
}